<app-header></app-header>
<!--================ Start About Us Area =================-->
<section class="about_area section_gap">
    <div class="container">
        <div class="row justify-content-start align-items-center">
        <div class="col-lg-5">
        <div class="about_img">
        <img class="" src="assets/img/about-us.png" alt="">
        </div>
        </div>
    
        <div class="offset-lg-1 col-lg-5">
        <div class="main_title text-left">
        <h2>let’s <br>
            Introduce about <br>
            myself</h2>
        <p>
           I do have Experience with all stages of the development cycles for dynamic Web and API projects. 
        </p>
        <p>
            Solutions stack consist of backend skills including
            Node Js, Php and .Net and front end tech stacks which includes Angular and JavaScript and 
            Database such as MYSQL, MongoDB and ORACLE.
        </p>
        <a class="primary_btn" target="_blank" href="https://drive.google.com/file/d/1knAbiDGS57NNIastr6PVsEKl_1yf94gl/view?usp=sharing"><span>Download CV</span></a>
        </div>
        </div>
        </div>
    </div>
    </section>
<!--================ End About Us Area =================-->
<app-footer></app-footer>