<!--================ Start Testimonial Area =================-->
<div class="testimonial_area section_gap_bottom">
  <div class="container">
     <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
           <div class="main_title">
              <h2>client say about me</h2>
              <p>Is give may shall likeness made yielding spirit a itself togeth created after sea is in beast <br>
                 beginning signs open god you're gathering ithe
              </p>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="testi_slider">
           <div class="testi_item">
              <div class="row">
                 <div class="col-lg-4">
                    <img src="assets/img/testimonials/lou_profile.png" alt="">
                 </div>
                 <div class="col-lg-8">
                    <div class="testi_text">
                       <h4>Lou Schillaci</h4>
                       <img src="assets/img/testimonials/lou_1.png" alt="">
                    </div>
                 </div>
              </div>
           </div>
           <div class="testi_item">
              <div class="row">
                 <div class="col-lg-4">
                    <img src="assets/img/testimonials/t2.jpg" alt="">
                 </div>
                 <div class="col-lg-8">
                    <div class="testi_text">
                       <h4>Shawn Akhtar</h4>
                       <img src="assets/img/testimonials/shawn_1.png" alt="">
                    </div>
                 </div>
              </div>
           </div>
           <div class="testi_item">
              <div class="row">
                 <div class="col-lg-4">
                    <img src="assets/img/testimonials/hien_profile.png" alt="">
                 </div>
                 <div class="col-lg-8">
                    <div class="testi_text">
                       <h4>Hein Myburgh</h4>
                       <img src="assets/img/testimonials/hien_1.png" alt="">
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
<!--================ End Testimonial Area =================-->