<app-header></app-header>    
    <!--================ Start Home Banner Area =================-->
    <section class="home_banner_area">
    <div class="banner_inner">
      <div class="container">
      <div class="row">
        <div class="col-lg-7">
        <div class="banner_content">
          <h2 class="text-uppercase">Hello</h2>
          <h2 class="text-uppercase">I am Shivam Shukla</h2>
          <h5 class="text-uppercase">Full Stack Developer</h5>
          <div class="d-flex align-items-center">
          <a class="primary_btn" target="_blank"  href="https://www.upwork.com/o/profiles/users/~01bbe1eab230aaa66c/"><span>Hire Me</span></a>
          <a class="primary_btn tr-bg" target="_blank" href="https://drive.google.com/file/d/1Z42w64qMQb9G__4vv_ra0JY_TvUggPqg/view?usp=sharing"><span>Get CV</span></a>
          </div>
        </div>
        </div>
        <div class="col-lg-5">
        <div class="home_right_img">
          <img class="" src="assets/img/banner/home-right.png" alt="">
        </div>
        </div>
      </div>
      </div>
    </div>
    </section>
    <!--================ End Home Banner Area =================-->
    
    <!--================ Srart Brand Area =================-->
    <section class="brand_area section_gap_bottom">
    <div class="container">
      <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="single-brand-item d-table">
          <div class="d-table-cell text-center">
            <img class="brand" src="assets/img/brands/javascript.png" alt="">
          </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-brand-item d-table">
            <div class="d-table-cell text-center">
              <img class="brand" src="assets/img/brands/node.svg" alt="">
            </div>
            </div>
          </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="single-brand-item d-table">
          <div class="d-table-cell text-center">
            <img class="brand" src="assets/img/brands/angular.svg" alt="">
          </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="single-brand-item d-table">
          <div class="d-table-cell text-center">
            <img src="assets/img/brands/php.png" alt="">
          </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="single-brand-item d-table">
          <div class="d-table-cell text-center">
            <img src="assets/img/brands/mongodb.svg" alt="">
          </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="single-brand-item d-table">
          <div class="d-table-cell text-center">
            <img src="assets/img/brands/mysql.png" alt="">
          </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-brand-item d-table">
            <div class="d-table-cell text-center">
              <img class="brand" src="assets/img/brands/aws.png" alt="">
            </div>
            </div>
          </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-brand-item d-table">
            <div class="d-table-cell text-center">
              <img src="assets/img/brands/api.png" alt="">
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="offset-lg-2 col-lg-4 col-md-6">
        <div class="client-info">
        <div class="d-flex mb-50">
          <span class="lage">5+</span>
          <span class="smll">Years Experience Working</span>
        </div>
        <div class="call-now d-flex">
          <div>
          <span class="fa fa-phone"></span>
          </div>
          <div class="ml-15"> 
          <p>call me now</p>
          <h5>(+91)9084-59-3233</h5>
          </div>
        </div>
        </div>
      </div>
      </div>
    </div>
    </section>
    <!--================ End Brand Area =================-->
    <!--================ Start Testimonial Area =================-->
    <app-testimonials></app-testimonials>
    <!--================ End Testimonial Area =================-->
    <app-footer></app-footer>